body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: #AAD0D8;
}

h1 {
  font-size: 48px;
}

.navi-bar {
  background-color: #7097A8;
  color: black;
  box-shadow: 0 0 10px black, 0 0 3px black inset;
}

.profile-pic {
  border-radius: 10px;
  box-shadow: 0 0 10px #7097A8;
}

.boxed {
  border-radius: 10px;
  box-shadow: 0 0 10px #7097A8, 0 0 2px #7097A8 inset;
}

.my-footer {
  background-color: #7097A8;
  color: black;
  box-shadow: 0 0 3px #7097A8, 0 0 1px #AAD0D8 inset;
}

.button_1 {
  color: black;
  border-top: 4px solid #AAD0D8;
  border-left: 2px solid #AAD0D8;
  border-right: 2px solid #AAD0D8;
  border-bottom: 4px solid #AAD0D8;
  border-radius: 0px;
  box-shadow: 0 0 10px #AAD0D8, 0 0 1px #AAD0D8 inset;
  padding: 8px;
  display: inline-block;
  float: left;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  /* box-shadow: inset 0 0 0 0 #D80286; */
  /* -webkit-transition: ease-out 0.4s; */
  /* -moz-transition: ease-out 0.4s; */
  /* transition: ease-out 0.4s; */
}

/* .button_1 { */
  /* color: #FFF; */
  /* border: 2px solid rgb(216, 2, 134); */
  /* border-radius: 0px; */
  /* padding: 18px 36px; */
  /* display: inline-block; */
  /* font-family: "Lucida Console", Monaco, monospace; */
  /* font-size: 20px; */
  /* letter-spacing: 1px; */
  /* cursor: pointer; */
  /* box-shadow: inset 0 0 0 0 #D80286; */
  /* -webkit-transition: ease-out 0.4s; */
  /* -moz-transition: ease-out 0.4s; */
  /* transition: ease-out 0.4s; */
/* } */

.darken:hover, .darken:active {
  background-color: #AAD0D8;
  border-top: 4px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
}

.topleft {
	position: absolute;
	top: 250px;
	left: 250px;
}

  #outer {
  width: 524px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#portfolio {
	/*position: absolute; */
	width: 250px;
	height: 250px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: 0 0 0 0;
	text-align: center;
	/* background: red; */
}

/* body { */
	/* background-color: #4DC9C4; */
	/* color: #113E3D; */
/* } */

/* .dark-mode { */
	/* background-color: #113E3D; */
	/* color: #4DC9C4; */
/* } */